<h2>Sprint13. Tasks</h2>
<ul>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Tasks" asp-action="Greetings">Greetings</a>
    </li>
    <li>
        <a class="nav-link text-dark" asp-controller="Tasks" asp-action="Products">Products</a>
    </li>
    <li>
        <a class="nav-link text-dark" asp-controller="Tasks" asp-action="Supermarkets">Supermarkets</a>
    </li>
    <li>
        <a class="nav-link text-dark" asp-controller="Tasks" asp-action="ShoppingList">Shopping list</a>
    </li>
    <li>
        <a class="nav-link text-dark" asp-controller="Tasks" asp-action="ShoppingCart">Shopping cart</a>
    </li>
</ul>