@{
    ViewData["Title"] = "ProductInfo";

List<Product> products = new List<Product>()
{
    new Product("Bread", 10),
    new Product("Milk", 11),
    new Product("Cheese", 140),
    new Product("Sausage", 110),
    new Product("Potato", 7),
    new Product("Banana", 23),
    new Product("Tomato", 25),
    new Product("Candy", 75)
};
}
<style>
    table, tr, td {
    }
    td {
        width: 100px;
    }
</style>

<h1>Information about product</h1>

<table>
    <thead>
        <tr>
            <td><b>Name</b></td>
            <td><b>Value</b></td>
        </tr>
    </thead>
    @foreach (Product prod in products)
    {
        <tr>
            <td>@prod.Name</td>
            <td>@prod.Price</td>
        </tr>
    }
</table>
